doctype html
html.no-js
  head
    meta charset="utf-8" 
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" 
    title User Registration
    meta content="" name="description" 
    meta content="width=device-width" name="viewport" 
    link href="assets/vendor/bootstrap-sass/dist/css/bootstrap.min.css" rel="stylesheet" 
    link href="assets/vendor/bootstrap-sass/dist/css/bootstrap-theme.min.css" rel="stylesheet" 
    link href="http://fonts.googleapis.com/css?family=Handlee" rel="stylesheet" type="text/css" 
    link href="assets/css/main.css" rel="stylesheet" 
  body
    .container-fluid
      /! Markup for pre-registration
      #registrationPage.col-xs-6.col-xs-offset-3
        h3 Enter your details
        hr
          form#registerForm.form-horizontal
            .form-group
              label.col-sm-2.control-label for="username"  Email
              .col-sm-10
                input#username.form-control placeholder="Email" type="email" 
            .form-group
              label.col-sm-2.control-label for="password"  Password
              .col-sm-10
                input#password.form-control placeholder="Password" type="password" 
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-success type="submit"  Register
                button.btn.btn-default type="reset"  Clear
      /! Markup for post-registration
      #userPage.col-xs-6.col-xs-offset-3
        h2
        a#signout.btn.btn-sm.btn-default href="#"  Sign out
    script src="assets/vendor/jquery-2.1.0.min.js" 
    script src="assets/vendor/bootstrap-sass/dist/js/bootstrap.min.js" 
    /! Load the dynamic version of hoodie.js that includes all the plugin code
    script src="/_api/_files/hoodie.js" 
    script src="assets/js/main.js" 
